DP3EXB-backups/DP3EXB-2026-05-25_131336.zip
DP3EXB-backups/DP3EXB-2026-05-25_131837.zip
DP3EXB-backups/DP3EXB-2026-05-25_132613.zip
DP3EXB-backups/DP3EXB-2026-05-25_164138.zip
New folder/DP3EXB-B_Cu.gbr
New folder/DP3EXB-B_Mask.gbr
New folder/DP3EXB-B_Paste.gbr
New folder/DP3EXB-B_Silkscreen.gbr
New folder/DP3EXB-Edge_Cuts.gbr
New folder/DP3EXB-F_Cu.gbr
New folder/DP3EXB-F_Mask.gbr
New folder/DP3EXB-F_Paste.gbr
New folder/DP3EXB-F_Silkscreen.gbr
New folder/DP3EXB-In1_Cu.gbr
New folder/DP3EXB-In2_Cu.gbr
New folder/DP3EXB-job.gbrjob
New folder/DP3EXB-NPTH.drl
New folder/DP3EXB-PTH.drl
Notional pinout.xlsx
production/backups/SAME51_Board_2026-05-24_18-14-40.zip
production/bom.csv
production/designators.csv
production/netlist.ipc
production/positions.csv
production/SAME51_Board.zip
~$Notional pinout.xlsx
DP3EXB-backups/DP3EXB-2026-05-25_165050.zip
