DP3EXB-backups/DP3EXB-2026-05-25_131336.zip
DP3EXB-backups/DP3EXB-2026-05-25_131837.zip
DP3EXB-backups/DP3EXB-2026-05-25_132613.zip
DP3EXB-backups/DP3EXB-2026-05-25_164138.zip
New folder/DP3EXB-B_Cu.gbr
New folder/DP3EXB-B_Mask.gbr
New folder/DP3EXB-B_Paste.gbr
New folder/DP3EXB-B_Silkscreen.gbr
New folder/DP3EXB-Edge_Cuts.gbr
New folder/DP3EXB-F_Cu.gbr
New folder/DP3EXB-F_Mask.gbr
New folder/DP3EXB-F_Paste.gbr
New folder/DP3EXB-F_Silkscreen.gbr
New folder/DP3EXB-In1_Cu.gbr
New folder/DP3EXB-In2_Cu.gbr
New folder/DP3EXB-job.gbrjob
New folder/DP3EXB-NPTH.drl
New folder/DP3EXB-PTH.drl
Notional pinout.xlsx
production/backups/SAME51_Board_2026-05-24_18-14-40.zip
production/bom.csv
production/designators.csv
production/netlist.ipc
production/positions.csv
production/SAME51_Board.zip
~$Notional pinout.xlsx
DP3EXB-backups/DP3EXB-2026-05-25_165050.zip
DP3EXB-backups/DP3EXB-2026-05-26_055002.zip
DP3EXB-backups/DP3EXB-2026-05-27_061632.zip
DP3EXB-backups/DP3EXB-2026-05-29_035907.zip
DP3EXB-backups/DP3EXB-2026-05-29_063228.zip
DP3EXB-backups/DP3EXB-2026-06-03_062403.zip
DP3EXB-backups/DP3EXB-2026-06-04_061100.zip
DP3EXB-backups/DP3EXB-2026-06-04_062845.zip
DP3EXB-backups/DP3EXB-2026-06-04_063411.zip
DP3EXB-backups/DP3EXB-2026-06-04_064751.zip
jlcpcb/project.db
production/backups/DP3EXB_v1_2026-06-04_06-44-48.zip
production/DP3EXB_v1.zip
production/DP3EXB_v1_bom.csv
production/DP3EXB_v1_designators.csv
production/DP3EXB_v1_positions.csv
fabrication-toolkit-options.json
jlcpcb/project.db
